body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

#nova-tarefa {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #762929;
    border-radius: 4px;
}

.botao {
    width: 30%;
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botao:hover {
    background-color: #2f0087;
}

#lista-tarefas {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

#lista-tarefas li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

.completo{
    text-decoration: line-through;
    color: gray;
}